<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wacky Widgets</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Wacky Widgets</h1>
        <%if(!widgets.length) {%>
            <h3>No Widgets Exist!</h3>
            
        <%} else {%>
            <% widgets.forEach(widget => {%>
                <section>
                    <h4><%=widget.description%></h4>
                    <p>Quantity: <%=widget.quantity%></p>
                    <form action="/?_method=DELETE" method="POST">
                        <input type="hidden" name="id" value="<%=widget.id%>">
                        <input type="submit" value="DELETE">
                        
                    </form>
                </section>
            <%})%>
        <%}%>
        <hr>
    </header>

    <main>
        <h4>Add Widget</h4>
        <form action="/" method="POST">

            <input type="text" name="description" placeholder="Widget description...">
            <input type="text" name="quantity" placeholder="Widget quantity...">
            <input type="submit" value="ADD WIDGET">

        </form>

    </main>
    
    <footer>

    </footer>
</body>
</html>